.app.dark {
  --bg-color: #080832;
  --inverted-bg-color: #a7a7d3;

  --primary-color: #0c870c;
  --secondary-color: #29d229;
  --inverted-primary-color: #04152a;
  --inverted-secondary-color: #084191;
}
