.app.light {
  --bg-color: #bdbdd5;
  --inverted-bg-color: #6262d3;

  --primary-color: #04152a;
  --secondary-color: #084191;
  --inverted-primary-color: #0c870c;
  --inverted-secondary-color: #29d229;
}
