.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  text-decoration: underline;
}

.links {
  margin-right: 30px;
  margin-left: auto;
  display: flex;
  gap: 15px;
}
